.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 88vh;
  flex-direction: column;
}

.login-form {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-form input,
.login-form select,
.login-form button {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 3px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.login-form button {
  background-color: #373737;
  color: #fff;
  cursor: pointer;
}
