.admin-dashboard {
  padding: 0 36px;
}

table {
  border-collapse: collapse;
  width: 60%;
  border: 1px solid #ccc;
}

th,
td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

.product-details-title {
  margin-top: 40px;
  margin-bottom: 0;
}

.product-details {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.product-details input {
  height: 38px;
  margin-right: 12px;
  padding-left: 6px;
}

.product-details button {
  margin-top: 12px;
  height: 44px;
}

@media (max-width: 920px) {
  table {
    width: 100%;
    padding: 0 12px;
  }
}
